<!-- sorvetes.html -->
<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista com os sorvetes</title>
  </head>

  <body>
    <h1>Lista com os sorvetes</h1>
      <ul>
        {% for sorvete in sorvetes %}
        <li><a href="{{ url_for('sorvetes.get_sorvete', id_sorvete=sorvete.id) }}">{{ sorvete.sabor }} (ID: {{ sorvete.id }})</a></li>
        {% endfor %}
    </ul>
  </body>
</html>
